<h1>News</h1>
<h2>Check out our New Book!</h2>
<p>Get our new book on birdwatching: Field Guide to the Birds of Eastern and Central North America!</p>
<p>Roger Tory Peterson had already made his mark with his innovative field guide when he conducted DDT research during World War II. His friend and fellow naturalist Rachel Carson built on these efforts and eventually wrote Silent Spring, a landmark text that, along with Peterson’s field guide, jump-started the modern environmental movement.
By combining the tireless observation of a scientist with the imaginative skills of an artist and writer, Peterson created a field guide that Robert Bateman, in his foreword to the fifth edition, says was the doorway for millions of people into the wonderland of natural history. The Peterson Identification System has been used in the more than fifty books that make up the Peterson Field Guide series. Peterson’s magnum opus, now in its fifth edition, created the trail for countless field guides to follow. They are still following year by year, but his is the standard by which all other field guides are judged.
On the morning of July 28, 1996, Roger Peterson was painting his final bird plate. He died peacefully in his sleep later that day. It is fitting that his final work—a culmination of more than sixty years of observing, painting, and writing—should be this one, a revision of the guide that started his legacy.
</p>

<h2>Our store will be closing on June 12th</h2>
<p>We will be closing on June 12th! Thank you for the ten weeks of business!</p>
